:root {
  --dark-color: #272829;
  --lighter-color: #ccc8aa;
  --white-border: white;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-color);
}

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px;
}

.custom-link {
  color: white;
}

.custom-link:hover {
  color: white;
}

.custom-link2 {
  color: white;
  font-size: 125%;
  border: 2px solid white;
  border-radius: 50px;
  margin: 5px;
}

.custom-link2:hover {
  box-shadow: 3px 3px var(--lighter-color);
  color: white;
}
*/

/* Back to top button */

.btt {
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 95%;
  left: 90%;
  background-color: white;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 70px;
  padding: 5px;
  z-index: 1;
}

button a {
  text-decoration: none;
  color: black;
}

/* top screen header */

.custom-nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  max-width: 400px;
}

.top-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  padding-right: 10px;
}

/* Navigation bar with links */

.header-left {
  margin: 20px;
  padding: 20px;
  border: 5px solid var(--white-border);
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

/* nav a {
  color: white;
  border: 3px solid var(--white-border);
  border-radius: 50px;
  margin: 0 5px 10px 10px;
  padding: 8px;
  text-decoration: none;
}

nav a:hover {
  box-shadow: 3px 3px var(--lighter-color);
} */

/* profile and cover picture */

.intro-images {
  position: relative;
}

.profile-pic {
  position: absolute;
  border-radius: 250px;
  border: 5px solid rgba(128, 128, 128, 0.9);
  width: 17%;
  max-width: 100%;
  height: 75%;
  top: 11%;
  left: 1.75%;
}

.cover-pic {
  display: flex;
  width: 100%;
}

/* Headers for each section */

.section-header {
  display: flex;
  align-items: center;
  color: white;
  font-size: 200%;
  margin-left: 75px;
}

/* about me section */

.about-me {
  background-color: var(--lighter-color);
  padding: 20px;
}

.about-me h3 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 150%;
  padding: 20px;
}

/* Project section */

.project {
  display: flex;
}

.project-links {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0 50px 0;
}

.project-links a img {
  border: 3px solid black;
  border-radius: 20px;
}

.project-links a {
  display: flex;
  align-items: center;
  position: relative;
}

/*Project link images and titles*/

.fir-pro-title,
.title {
  position: absolute;
  display: flex;
  bottom: 10%;
  left: 2%;
  color: #333333;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--lighter-color);
}

.title {
  font-size: 85%;
}

.fir-img {
  width: 850px;
  height: 500px;
}

.fir-pro {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.fir-pro-img {
  margin: 0 20px 20px 50px;
  width: 850px;
  height: 500px;
}

.sec-pro-img {
  width: 450px;
  height: 325px;
}

.pro-img {
  height: 325px;
  width: 450px;
  margin: 20px;
  margin-left: 50px;
}

.project-links img:hover {
  box-shadow: 10px 10px 20px gray;
}

/* vertical line dividers */

.vertical-line {
  border-right: 4px solid white;
  margin: 10px 0 10px 100px;
}

.contact-me .vertical-line {
  margin-left: 40px;
}

/* contact me section */

.contact-me {
  background-color: var(--lighter-color);
  display: flex;
}

.contact-links {
  display: flex;
  font-size: 250%;
  text-decoration: none;
  color: white;
}

.contact-links a:hover {
  color: var(--dark-color);
  background-color: lightgray;
  box-shadow: 5px 5px var(--dark-color);
}

.contact-links a {
  padding: 0 5px 0 5px;
  background-color: var(--dark-color);
  border: 5px solid var(--dark-color);
  border-radius: 50px;
  margin: 25px 0 25px 250px;
  text-decoration: none;
  color: white;
}

/* bottom of page footer */

footer {
  text-align: center;
}

footer h4 {
  color: white;
  padding: 50px;
}

/* For different viewport sizes */

@media screen and (max-width: 1670px) {
  .contact-links {
    font-size: 200%;
  }

  .contact-links a {
    margin-left: 75px;
  }
}

@media screen and (max-width: 1381px) {
  .project {
    flex-direction: column;
  }
  .project-links {
    flex-direction: column;
  }

  .fir-pro-img {
    margin: 0;
    width: 600px;
    height: 400px;
    justify-content: center;
  }

  .pro-img {
    width: 350px;
    height: 250px;
  }

  .password,
  .js-quiz,
  .coming-soon {
    width: 350px;
    height: 250px;
  }

  .project .section-header {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 4px solid white;
  }

  .vertical-line {
    border: 0px;
  }

  .horiseon {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 1041px) {
  .project {
    flex-direction: column;
  }

  .vertical-line {
    margin-left: 0;
  }

  .horiseon {
    width: 400px;
    height: 300px;
  }

  .fir-pro-img {
    width: 350px;
    height: 250px;
  }

  .horiseon,
  .password,
  .js-quiz,
  .coming-soon {
    width: 350px;
    height: 250px;
  }

  .pro-img {
    margin-left: 17px;
  }

  .contact-links {
    font-size: 125%;
  }
}

@media screen and (max-width: 891px) {
  .top-header {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }

  nav ul a {
    margin-left: 25px;
  }

  .projects header {
    margin-right: 0;
    flex-direction: column;
  }

  .vertical-line {
    margin-left: 0;
  }

  .horiseon {
    width: 350px;
    height: 250px;
  }

  .contact-links {
    font-size: 100%;
  }

  .contact-links a {
    margin-left: 50px;
  }
}

@media screen and (max-width: 763px) {
  .section-header {
    margin: 0;
  }

  .project-links {
    margin-right: 0;
  }

  .horiseon {
    width: 100px;
    height: 75px;
  }

  .horiseon-title,
  .title {
    font-size: 15%;
  }

  .fir-pro-img {
    width: 100px;
    height: 75px;
  }

  .pro-img {
    width: 100px;
    height: 75px;
  }

  .password,
  .js-quiz,
  .coming-soon {
    width: 100px;
    height: 75px;
  }

  .contact-me .vertical-line {
    margin-left: 0;
  }

  .contact-me .section-header {
    font-size: 80%;
  }

  .contact-links {
    font-size: 75%;
  }

  .contact-links a {
    justify-content: center;
  }

  .contact-me {
    width: 100%;
  }

  button {
    left: 70%;
    top: 90%;
  }
}
