* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272829;
}

.top-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272829;
    padding-right: 10px;
}

.header-left {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid white;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

nav ul a {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px white;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
}

img {
    width: 100%;
}

.about-me{
    background-color: #CCC8AA;
    padding-top: 10px;
}

.about-me h3{
    font-size: 250%;
    text-align: center;
}

.about-me p{
    font-size: 150%;
    text-align: center;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: end;

}

.projects header {
    justify-content: start;
    color: white;
    font-size: 250%;
    margin: 250px;
}

.horiseon-project a img {
    width: 1100px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 100px;
    border: 10px solid black;
    border-radius: 5px;
}
.horiseon-project img:hover {
    box-shadow: 10px 10px 20px gray;
}

.vertical-line {
    display: flex;
    justify-content: start;
    border-right: 6px solid white;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;
}
@media screen and (max-width: 768px) {
    .top-header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    nav ul a {
        margin-left: 25px;
    }

    .horiseon-project a img {
        width: 200px;
        height: 200px;
    }

    .projects header {
        margin-right: 0;
        flex-direction: column;
    }

}
