:root {
  --dark-color: #272829;
  --lighter-color: #ccc8aa;
  --white-border: white;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-pic-resp {
  display: none;
  border-radius: 250px;
  border: 5px solid rgba(128, 128, 128, 0.9);
  min-width: 250px;
  max-width: 250px;
  max-height: 300px;
}

body {
  background-color: var(--dark-color);
}

/* Navigation bar with links */

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px;
}

.custom-nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  max-width: 375px;
}

.custom-link {
  color: white;
}

.custom-link:hover {
  color: white;
}

.custom-link2 {
  color: white;
  font-size: 125%;
  border: 2px solid white;
  border-radius: 50px;
  margin: 5px;
}

.custom-link2:hover {
  box-shadow: 3px 3px var(--lighter-color);
  color: white;
}
*/

/* Back to top button */

.btt {
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 95%;
  left: 90%;
  background-color: white;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 70px;
  padding: 5px;
  z-index: 1;
}

button a {
  text-decoration: none;
  color: black;
}

/* profile and cover picture */

.intro-images {
  display: flex;
  background-image: url(../images/background-photo.jpg);
  height: 300px;
  align-items: center;
}

.profile-pic {
  border-radius: 250px;
  border: 5px solid rgba(128, 128, 128, 0.9);
  width: 17%;
  max-width: 300px;
  height: 75%;
  max-height: 300px;
}

/* Headers for each section */

.section-header {
  display: flex;
  align-items: center;
  color: white;
  font-size: 200%;
  margin-left: 75px;
}

/* about me section */

.custom-card {
  box-shadow: 5px 5px 10px;
}

.about-me {
  background-color: var(--lighter-color);
  padding: 20px;
}

.about-me-par {
  display: flex;
  align-items: center;
}

.about-me h3 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 150%;
  padding: 20px;
}

/* Project section */

.project {
  display: flex;
}

.project-card {
  background-color: var(--dark-color);
  border: 0;
}

.custom-card-body {
  max-width: 20rem;
  max-height: 400px;
  min-height: 400px;
  margin: 25px;
  border-radius: 5px;
}

.custom-card-body:hover {
  box-shadow: 5px 5px 5px rgb(97, 96, 96);
}

.project-links {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}

/* vertical line dividers */

.vertical-line {
  border-right: 4px solid white;
  margin: 10px 0 10px 100px;
}

.contact-me .vertical-line {
  margin-left: 40px;
}

/* contact me section */

.contact-me {
  background-color: var(--lighter-color);
  display: flex;
  justify-content: center;
}

.contact-me-header {
  display: flex;
  justify-self: start;
}

.contact-me-ul li {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.contact-me-btns a {
  color: var(--dark-color);
  display: flex;
  font-size: 200%;
  margin: 10px;
  min-width: 175px;
}

.contact-links {
  display: flex;
  font-size: 250%;
  text-decoration: none;
  color: white;
}

.contact-links a:hover {
  color: var(--dark-color);
  background-color: lightgray;
  box-shadow: 5px 5px var(--dark-color);
}

.contact-links a {
  padding: 0 5px 0 5px;
  background-color: var(--dark-color);
  border: 5px solid var(--dark-color);
  border-radius: 50px;
  margin: 25px 0 25px 250px;
  text-decoration: none;
  color: white;
}

/* bottom of page footer */

footer {
  text-align: center;
}

footer h4 {
  color: white;
  padding: 50px;
}

/* For different viewport sizes */

@media screen and (max-width: 1670px) {
  .contact-links {
    font-size: 200%;
  }

  .contact-links a {
    margin-left: 75px;
  }
}

@media screen and (max-width: 1381px) {
  .project {
    flex-direction: column;
  }
  .project-links {
    flex-direction: column;
  }

  .project .section-header {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 4px solid white;
  }

  .vertical-line {
    border: 0px;
  }

  .profile-pic-resp {
    display: flex;
  }

  .profile-pic {
    display: none;
  }
}

@media screen and (max-width: 1041px) {
  .project {
    flex-direction: column;
  }

  .vertical-line {
    margin-left: 0;
  }

  .contact-links {
    font-size: 125%;
  }
}

@media screen and (max-width: 991px) {
  .nav-links {
    text-align: center;
    padding: 2px;
    max-width: 150px;
  }
}

@media screen and (max-width: 891px) {
  .top-header {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }

  nav ul a {
    margin-left: 25px;
  }

  .projects header {
    margin-right: 0;
    flex-direction: column;
  }

  .vertical-line {
    margin-left: 0;
  }

  .contact-links {
    font-size: 100%;
  }

  .contact-links a {
    margin-left: 50px;
  }

  .about-me p {
    font-size: 100%;
  }

  .about-me-par {
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  .section-header {
    margin: 0;
  }

  .contact-me .vertical-line {
    margin-left: 0;
  }

  .contact-me .section-header {
    font-size: 80%;
  }

  .contact-links {
    font-size: 75%;
  }

  .contact-me {
    width: 100%;
  }

  button {
    left: 70%;
    top: 90%;
  }
  header {
    display: flex;
    justify-content: center;
  }

  .intro-images {
    justify-content: center;
  }

  .about-me p {
    font-size: 75%;
  }

  .project-links {
    margin-left: 0;
  }

  .contact-me {
    flex-direction: column;
  }

  .contact-links {
    margin: 0;
    padding: 0;
  }

  .contact-pills {
    justify-content: start;
  }

  .custom-nav {
    display: flex;
    justify-content: center;
  }
}
